@model string[,]
@{
    ViewBag.Title = "WithDropped";
}

<h2>Правило относительного большинства с выбыванием</h2>

Количество людей - @Model.GetLength(1) <br />
Количество альтернатив - @Model.GetLength(0)

<br />
<br />
Доступные альтернативы:
@foreach (DecisionMaking.Models.Alternative alternative in ViewBag.Aliternatives)
{
    <div>@alternative.AName - @alternative.ANum</div>
}

<br />

@using (Html.BeginForm())
{
    for (int i = 0; i < Model.GetLength(0); i++)
    {
        for (int j = 0; j < Model.GetLength(1); j++)
        {
        <!--<text> @i,@j </text>-->

            @Html.TextBox("result_" + i + "_" + j, null, new { @size = 2 })
        }
        <br />
    }

    <br />
}
<div class="form-group">
    <div>
        <button onclick="Boom()" class="btn btn-default">Посчитать</button>
    </div>
</div>

<script>
    var row = @Model.GetLength(0);
    var col = @Model.GetLength(1);
    var Boom = function () {
        var result = [];
        for (var i = 0; i < row; i++) {
            var temp = [];
            for (var j = 0; j < col; j++) {
                var selector = "input[name='result_"+i+"_"+j+"']";
                var value = $(selector).val();
                temp.push(value)
            }
            result.push(temp);
        }
        debugger;
        console.log(result);
        $.post("/Result/WithDropped", {
            result: JSON.stringify(result)
        });
    }
</script>