@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>Super app</h1>
</div>

<div class="row text-center">
    <div class="col-md-12">
        @Html.ActionLink("LPR", "Index", "LPR")
    </div>
    <div class="col-md-12">
        @Html.ActionLink("Alternative", "Index", "Alternative")
    </div>
    <div class="col-md-12">
        @Html.ActionLink("Criterion", "Index", "Criterion")
    </div>
    <div class="col-md-12">
        @Html.ActionLink("Mark", "Index", "Mark")
    </div>
    <div class="col-md-12">
        @Html.ActionLink("Result", "Index", "Result")
    </div>
    <div class="col-md-12">
        @Html.ActionLink("Vector", "Index", "Vector")
    </div>
</div>