@model IEnumerable<DecisionMaking.Models.Alternative>

@{
    ViewBag.Title = "Alternative";
}

<h2>Alternative</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ANum }) |
                @Html.ActionLink("Details", "Details", new { id = item.ANum }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ANum })
            </td>
        </tr>
    }

</table>
